<div class="row">
    <div class="col-md-12 text-center">
        Sort by: <select ng-model="ctrl.sort_by">
        <option value="id">Id</option>
        <option value="price">Price</option>
        <option value="size">Size</option>
    </select>
    </div>
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-5">ASCII</div>
        <div class="col-md-4">Date</div>
        <div class="col-md-3">Price</div>
    </div>
</div>
<div ng-show="ctrl.elements.current.length == 0" style="text-align: center">
    <div id="fountainTextG"><div id="fountainTextG_1" class="fountainTextG">L</div><div id="fountainTextG_2" class="fountainTextG">o</div><div id="fountainTextG_3" class="fountainTextG">a</div><div id="fountainTextG_4" class="fountainTextG">d</div><div id="fountainTextG_5" class="fountainTextG">i</div><div id="fountainTextG_6" class="fountainTextG">n</div><div id="fountainTextG_7" class="fountainTextG">g</div><div id="fountainTextG_8" class="fountainTextG">.</div><div id="fountainTextG_9" class="fountainTextG">.</div><div id="fountainTextG_10" class="fountainTextG">.</div></div>
</div>
<div vs-repeat style="height: 700px; overflow: auto;" vs-size="item.size" vs-scrolled-to-end="ctrl.showNextPage()">
    <div ng-repeat="item in ctrl.elements.current" style="height: {{item.size}}px" class="row">
        <div ng-if="item.type == 'ad'" class="col-md-12 text-center">
            <ad location="{{item.location}}"></ad>
        </div>
        <div ng-if="item.type == 'final'" class="col-md-12 text-center">
            ~ end of catalogue ~
        </div>
        <div ng-if="item.type == 'element'" class="col-md-5" style="font-size: {{ item.element.size }}px">
            {{ item.element.face }}
        </div>
        <div ng-if="item.type == 'element'" class="col-md-4">
            <span am-time-ago="item.element.date" ng-if="item.show_relative"></span>
            <span ng-if="!item.show_relative">{{ item.element.date | amDateFormat:'dddd, MMMM Do YYYY' }}</span>
        </div>
        <div ng-if="item.type == 'element'" class="col-md-3">
            {{ item.element.price / 100 | currency: '$' }}
        </div>
    </div>
</div>
