<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-5">Face</div>
        <div class="col-md-4">Date</div>
        <div class="col-md-3">Price</div>
    </div>
</div>
<div class="container-fluid" style="height: 700px;" ui-scroll-viewport>
    <div ui-scroll="row in ctrl.rows" buffer-size="20">
        <div class="row" ng-if="row.type == 'element'">
            <div class="col-md-5">Getting element {{ row.element }}</div>
            <div class="col-md-4">{{ $index }}</div>
            <div class="col-md-3">Yay!</div>
        </div>
        <div class="row" ng-if="row.type == 'empty'">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row" ng-if="row.type == 'ad'">
            <div class="col-md-12" style="height: 20px; overflow: visible"><ad location="{{$index}}" use-style="position: absolute; bottom: 0"></ad></div>
        </div>
    </div>
</div>
