<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-1">Row</div>
        <div class="col-md-4">ASCII</div>
        <div class="col-md-4">Date</div>
        <div class="col-md-3">Price</div>
    </div>
</div>
<div vs-repeat style="height: 700px; overflow: auto;" vs-size="item.size" vs-scrolled-to-end="ctrl.showNextPage()">
    <div ng-repeat="item in ctrl.elements.current" style="height: {{item.size}}px" class="row">
        <div ng-if="item.type == 'ad'" class="col-md-12 text-center">
            <ad location="{{item.location}}"></ad>
        </div>
        <div ng-if="item.type == 'element'" class="col-md-1">
            {{ item.position }}
        </div>
        <div ng-if="item.type == 'element'" class="col-md-4" style="font-size: {{ item.element.size }}px">
            {{ item.element.face }}
        </div>
        <div ng-if="item.type == 'element'" class="col-md-4">
            <span am-time-ago="item.element.date" ng-if="item.show_relative"></span>
            <span ng-if="!item.show_relative">{{ item.element.date | amDateFormat:'dddd, MMMM Do YYYY' }}</span>
        </div>
        <div ng-if="item.type == 'element'" class="col-md-3">
            {{ item.element.price / 100 | currency: '$' }}
        </div>
    </div>
</div>
